@import 'section2';
@import 'mixins';

// Maps
$colors: (
    primary: blue,
    secondary: black,
    primary-font-color: white,
    secondary-font-color: red
);

// Functions
@function colors($color-name) {
    @return map-get($colors, $color-name)
};

body {

    padding: 1em;
    color: colors(primary-font-color);

    @include small {
        background-color: purple;
    }

    @include medium {
        background-color: orange;
    }

    @include large {
        background-color: yellow;
    }

    @include xLarge {
        background-color: lightcoral;
    }
}




