// Maps
$colors: (primary: blue,
    secondary: black,
    primary-font-color: white,
    secondary-font-color: red);

// Variables
$xLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

// Mixins
@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
};

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
};

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
};

@mixin xLarge {
    @media (min-width: #{$xLarge}) {
        @content;
    }
};

// Functions
@function colors($color-name) {
    @return map-get($colors, $color-name)
}

;



body {

    padding: 1em;
    color: color(primary-font-color);

    @include small {
        background-color: purple;
    }

    @include medium {
        background-color: orange;

    }

    @include large {
        background-color: yellow;
    }

    @include xLarge {
        background-color: green;
    }
}
