@import 'mixins';

#one {
    padding: 1em;
    border: solid;
    margin: 10px;
    color: black;

    @include xLarge {
        background-color: white;
    }

    @include large {
        background-color: red;
    }

    @include medium {
        background-color: white;
    }

    @include small {
        background-color: red;
    }
}

#two {
    padding: 1em;
    border: solid;
    margin: 10px;
    color: black;
    width: 50%;

    @include xLarge {
        background-color: red;
    }

    @include large {
        background-color: white;
    }

    @include medium {
        background-color: red;
    }

    @include small {
        background-color: white;
    }
}

h1 {
    color: black;
}